<h1>FriendFace</h1>
<p>The best social media</p>

<div id="form-area">
    <form id="add-post">
      Author:
      <input id="author-field" type="text" />
      Colour:
      <select id="colour-field">
        <option value="red" selected="selected">Red</option>
        <option value="green">Green</option>
        <option value="blue">Blue</option>
      </select>
      Date:
      <input id="date-field" type="date" />
      <br />
      Content:
      <br />
      <textarea rows="4" cols="100" id="content-field" class="post-entry"></textarea>
      <br />
      <input id="add-post-submit" type="submit" />
    </form>
  </div>

  <div id="errorMessage"></div>

  <hr />
  <form id="order-posts">
    <label for="options">Sort by:</label>
    <select id="options">
      <option value="date">Date</option>
      <option value="name">Name</option>
    </select>
    <label for="decending">Decending</label>
    <input type="checkbox" id="descending">
  </form>
<app-post />
