

<div id="form-area">
  <form #addPost="ngForm" (ngSubmit)="onClickSubmit(addPost.value)">

    Author:
    <input
      id="author-field"
      type="text"
      name="author"
      ngModel
      required
      #author="ngModel"
    />
    <div *ngIf="author.invalid && author.touched" class="error">
      Author is required.
    </div>

    Colour:
    <select
      id="colour-field"
      name="colour"
      ngModel
      required
      #colour="ngModel"
    >
      <option value="">-- Select a colour --</option>
      <option value="red">Red</option>
      <option value="green">Green</option>
      <option value="blue">Blue</option>
    </select>
    <div *ngIf="colour.invalid && colour.touched" class="error">
      Colour is required.
    </div>

    Date:
    <input
      id="date-field"
      type="date"
      name="date"
      ngModel
      required
      #date="ngModel"
    />
    <div *ngIf="date.invalid && date.touched" class="error">
      Date is required.
    </div>

    <br />

    Content:
    <br />
    <textarea
      rows="4"
      cols="100"
      id="content-field"
      class="post-entry"
      name="post"
      ngModel
      required
      #post="ngModel"
    ></textarea>
    <div *ngIf="post.invalid && post.touched" class="error">
      Content is required.
    </div>

    <br />
    <input
      id="add-post-submit"
      type="submit"
      value="submit"
      [disabled]="addPost.invalid"
    />
  </form>
</div>


<hr />


<app-post></app-post>
