

<form #orderPosts="ngForm" id="order-posts">
  <label for="options">Sort by:</label>
  <select id="options" name="orderBy" [(ngModel)]="filterBy"  (ngModelChange)="onFormChange()">
    <option value="date">Date</option>
    <option value="name">Name</option>
  </select>
  <label for="descending">Descending</label>
  <input type="checkbox"  name="descending" [(ngModel)]="descending" (ngModelChange)="onFormChange()"/>
</form>

<div *ngIf="posts.length < 1">
  <h1>No Posts</h1>
</div>

<div id="posts">
  <div *ngFor="let post of posts" class="post">
    <div class="profile">
      <div class="avatar">
        <img src="person.png" width="50" height="50" [ngStyle]="{
                'background-color': post.colour,
                'border-radius': '25px'
              }" />
      </div>
      <div class="info">
        <h4>{{ post.author }}</h4>
        <p class="date">{{ post.date }}</p>
      </div>
    </div>
    <p class="content">{{ post.content }}</p>
    <div class="actions">
      <p class="likes" name="likes">Likes {{ post.likes }}</p>
      <button><img src="like.png" width="20px" height="20px" (click)="like(post)"></button>
    </div>
  </div>
</div>